<!doctype html>
	<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title>Strona Główna</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Robert Sołdyński App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item active">
					  <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
				  </li>
			  </ul>
			</div>
		  </nav>
		<div class="mt-5">
		<div class="container mt-5">

			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<!-- <strong>Title</strong> --> {{ message }}
			</div>
			{% endfor %}
			{% endif %}
			{% endwith %}

			<div class="text-center">
				<p style="font-size: 20px;">
					Załaduj Plik w formacie csv, do 1 tys. linii, które będą zawierały do 20 atrybutów<br>
					Upewnij się, że separatorem pliku CSV jesy ';' (Średnik)
				</p>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col ">
						<div class="text-center">
							<p class="card-text">Wybierz Plik do załadowania.</p>
							<input type="file" name="myfile" required="">					
							<button class="btn btn-primary"  type="submit">Analizuj</button>
						</div>
					</div>
				</div>
			</form>



			<div class="mt-5">

				<div class="">
					<div class="table-wrapper">
						<div class="table-title">
							<div class="row">
								<div class="col-sm-8"><h1>Przeanalizowane Pliki</h1></div>
								<div class="col-sm-8"><h3>Aby przejść do analizy kliknij w nazwę załadowanego pliku</h3></div>
							</div>
						</div>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nazwa Pliku</th>
									<th>Usuń</th>
								</tr>
							</thead>
							<tbody>
								{% for file in files %}
								<tr>
									<td>{{loop.index}}</td>
									<td><a href="{{ url_for('summary', id=file.id) }}" >{{file.filename}}</a></td>
									<td><a href="{{ url_for('deletefile', id=file.id) }}" class="btn btn-danger">Usuń</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
	</html>